@model IEnumerable<DrugTipResultDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Uyarı Başlığı</th>
            <th scope="col">Uyarı Açıklaması</th>
            <th scope="col">Uyarı Resmi</th>
            <th scope="col">Detaylar</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drugTip in Model)
        {
            <tr>
                <th scope="row">@drugTip.DrugTipId</th>
                <td>@drugTip.Title</td>
                <td>@drugTip.Description</td>
                <td>@drugTip.Image</td>
                <td class="text-center"><a href="~/Admin/AdminDrugTip/DrugTipDetails/@drugTip.DrugTipId" class="btn btn-primary">Detaylar</a></td>
                <td class="text-center"><a href="~/Admin/AdminDrugTip/UpdateDrugTip/@drugTip.DrugTipId" class="btn btn-warning">Güncelle</a></td>
                <td class="text-center">
                    <form action="~/Admin/AdminDrugTip/DeleteDrugTip/@drugTip.DrugTipId" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Uyarıyı silmek istediğinden emin misin?')">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="~/Admin/AdminDrugTip/AddDrugTip" class="btn btn-success">Uyarı Ekle</a>

