<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>&copy; 2023 Eczanematik. Tüm Hakları Saklıdır.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <p>Web Sitesi Tasarım ve Geliştirme: <a href="[Web Sitesi Adresi]">Ahmet Eren Selvi</a></p>
            </div>
        </div>
    </div>
</footer>
