<div class="header">
    <div class="header-content clearfix">
        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
            <div class="search-box">
                <div class="input-group icons">
                    <span class="input-group-text bg-transparent border-0 pr-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                    <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                </div>
                <div class="drop-down d-md-none">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
                <li class="icons dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="badge gradient-1 badge-pill badge-primary">3</span>
                    </a>
                    <!-- Dropdown Content for Messages -->
                </li>
                <li class="icons dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="badge badge-pill gradient-2 badge-primary">3</span>
                    </a>
                    <!-- Dropdown Content for Notifications -->
                </li>
                <li class="icons dropdown d-none d-md-flex">
                    <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                        <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                    </a>
                    <!-- Dropdown Content for Language Selection -->
                </li>
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="~/adminweb/images/user/1.png" height="40" width="40" alt="">
                    </div>
                    <!-- Dropdown Content for User Profile -->
                </li>
            </ul>
        </div>
    </div>
</div>
