<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="~/Admin/AdminDashboard/Index" aria-expanded="false">
                    <i class="fas fa-tachometer-alt menu-icon"></i><span class="nav-text">Gösterge Panosu</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminPharmacy/Index" aria-expanded="false">
                    <i class="fas fa-clinic-medical menu-icon"></i><span class="nav-text">Eczaneler</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminAnnouncement/Index" aria-expanded="false">
                    <i class="fas fa-bullhorn menu-icon"></i><span class="nav-text">Duyurular</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminAbout/Index" aria-expanded="false">
                    <i class="fas fa-info-circle menu-icon"></i><span class="nav-text">Hakkında</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminFeedback/Index" aria-expanded="false">
                    <i class="fas fa-comment-alt menu-icon"></i><span class="nav-text">Geri Dönüşler</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminDrugTip/Index" aria-expanded="false">
                    <i class="fas fa-exclamation-triangle menu-icon"></i><span class="nav-text">Uyarılar</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminDailyQuote/Index" aria-expanded="false">
                    <i class="fas fa-quote-left menu-icon"></i><span class="nav-text">Sözler</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminSubscribe/Index" aria-expanded="false">
                    <i class="fas fa-users menu-icon"></i><span class="nav-text">Aboneler</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminProfile/Index" aria-expanded="false">
                    <i class="fas fa-user menu-icon"></i><span class="nav-text">Profil</span>
                </a>
            </li>
            <li>
                <a href="~/Admin/AdminLogin/LogOut" aria-expanded="false">
                    <i class="fas fa-sign-out-alt menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>
