<div class="info_bottom layout_padding2">
    <div class="row info_main_row">
        <div class="col-md-6 col-lg-3">
            <h5>
                Adres
            </h5>
            <div class="info_contact">
                <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        Eczanemizin Yeri
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Arayın +01 1234567890
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-envelope"></i>
                    <span>
                        eczanematik78@gmail.com
                    </span>
                </a>
            </div>
            <div class="social_box">
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="info_links">
                <h5>
                    Faydalı Bağlantılar
                </h5>
                <div class="info_links_menu">
                    <a href="https://www.saglik.gov.tr/">
                        Sağlık Bakanlığı
                    </a>
                    <a href="https://www.mhrs.gov.tr/">
                        MHRS
                    </a>
                    <a href="https://www.titck.gov.tr/">
                        TİTCK (Türkiye İlaç ve Tıbbi Cihaz Kurumu)
                    </a>
                    <a href="https://www.turkiye.gov.tr/">
                        e-Devlet
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="info_post">
                <h5>
                    Son Yazılar
                </h5>
                <div class="post_box">
                    <div class="img-box">
                        <img src="~/mico-html/images/post1.jpg" alt="">
                    </div>
                    <p>
                        Normal Dağılım
                    </p>
                </div>
                <div class="post_box">
                    <div class="img-box">
                        <img src="~/mico-html/images/post2.jpg" alt="">
                    </div>
                    <p>
                        Normal Dağılım
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="info_post">
                <h5>
                    Haberler
                </h5>
                <div class="post_box">
                    <div class="img-box">
                        <img src="~/mico-html/images/post3.jpg" alt="">
                    </div>
                    <p>
                        Normal Dağılım
                    </p>
                </div>
                <div class="post_box">
                    <div class="img-box">
                        <img src="~/mico-html/images/post4.png" alt="">
                    </div>
                    <p>
                        Normal Dağılım
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır
        </p>
    </div>
</footer>
