<div class="header_top">
    <div class="container">
        <div class="contact_nav">
            <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    Telefon : +01 123455678990
                </span>
            </a>
            <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                    E-posta : ahmeterenselvi@gmail.com
                </span>
            </a>
            <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                    Konum
                </span>
            </a>
        </div>
    </div>
</div>
