@model AboutResultDto

@{
    Layout = null;
}

<section class="about_section">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="@Model.Image" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>@Model.Title</h2>
                    </div>
                    <p>@Model.Description</p>
                    <a href="">Daha Fazla</a>
                </div>
            </div>
        </div>
    </div>
</section>
