@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Html.PartialAsync("~/Views/Default/_HeadPartial.cshtml")

<body>

    <div class="hero_area">
        <header class="header_section">
            @* @await Html.PartialAsync("~/Views/Default/_TopHeaderPartial.cshtml") *@
            @await Html.PartialAsync("~/Views/Default/_NavbarPartial.cshtml")
        </header>
        @await RenderSectionAsync("AnnouncementsListComponent", false)
    </div>

    @RenderBody()

    <section class="info_section ">
        <div class="container">
            @await RenderSectionAsync("_SubscribePartial", false)
            @await Html.PartialAsync("~/Views/Default/_FooterPartial.cshtml")
        </div>
    </section>

    @await Html.PartialAsync("~/Views/Default/_ScriptsPartial.cshtml")

</body>

</html>