@model AboutResultDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hakkında Başlığı</th>
            <th scope="col">Hakkında Açıklaması</th>
            <th scope="col">Hakkında Resmi</th>
            <th scope="col">Güncelle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.AboutId</th>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.Image</td>
            <td class="text-center"><a href="~/Admin/AdminAbout/UpdateAbout/@Model.AboutId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    </tbody>
</table>

